.dimension {
    width: 385px;
    text-align: center;
}

.dimension2 {
    height: 50px;
}


.size {
    font-size: 9px;
}

.size2 {
    font-size: 19px;
}

.texta {
    text-align: center;
}

.radius {
    border-radius: 42px;
    font-weight: 500;
    background-color: #8A0727;
}

.colorg {
    background-color: #F7F8FA;
}

.textat {
    line-height: 50px;
}

.logos {
    font-size: 25px;
}


.borderr {
    border-radius: 42px;
}

.buttonr {
    color: white;
    background-color: transparent;
    border-color: white;
    width: 55px;
    height: 25px;
    font-size: 10px;
    line-height: 10px;
    margin-top: 18px;
}

.textr {
    text-align: right;
}

.surveys {
    text-align: center;
    width: 80%;
}

.surveys2 {
    width: 90%;
    color: white;
    background-color: #8A0727;
}

.buttons {
    color: black;
    background-color: #F7F8FA;
}

.surveys1 {
    background-color: #8A0727;
    color: white;
    height: 60px;
    line-height: 45px;
}

.surveys3 {
    background-color: #F7F8FA;
}

.widths {
    width: 95%;
}

.alignc {
    text-align: right;
}

.widthm {
    width: 385px;
}

.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}

html {
    scroll-snap-type: y mandatory;
}

.App {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(26, 25, 25);
    color: #fff;
}

.insta-logo {
    width: 20%;
    max-width: 200px;
}

.video-container {
    position: relative;
    height: 70vh;
    width: 95%;
    max-width: 500px;
    border-radius: 2px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

/* for chrome and opera */
.video-container::-webkit-scrollbar {
    display: none;
}

.mar {
    margin-top: 100px;
}